body {
    background: url(./scoutaniabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: static;
}
#emblem {
    margin-top:50px;
    margin-left:25px;
    width:180px;
    height:220px;
}
.heading {
    text-align:center;
    color:floralwhite;
    font-size:72px;
}
.text {
    color:floralwhite;
    text-align:center;
    font-size:38px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer {
    background-color: gray;
    opacity: 80%;
    left: 0;
    bottom: 0;
    width:100%;
    height: 100px;
}
