body {
    background: url(./scoutaniabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: static;
}
.emblem {
    margin-top:50px;
    margin-left:25px;
    width:180px;
    height:220px;
}
.heading {
    text-align:center;
    color:floralwhite;
    font-size:72px;
}
.text {
    color:floralwhite;
    text-align:center;
    font-size:38px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer {
    background-color: gray;
    opacity: 80%;
    left: 0;
    bottom: 0;
    width:100%;
    height: 100px;
}
.table {
    width: 100%;
}
.ft1{
    font-size: 30px;
}
.ft2 {
    font-size: 20px;
}
.ft3 {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    #text {
        font-size:20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #emblem {
        margin-top:25px;
        margin-left: 0px;
        text-align: center;
        width:90px;
        height:110px;
    }
    #heading {
        font-size: 48px;
    }
    #center {
        text-align: center;
    }
    #ft1{
        font-size: 20px;
    }
    #ft2 {
        font-size: 15px;
    }
    #ft3 {
        font-size: 15px;
    }
}